body {
    background-color: #f6e5e6;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }
  
  .container {
    max-width: 700px;
    margin: 0 auto;
    padding: 50px;
    background-color: #fff;
    border: 1px solid #e7d3d9;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    font-size: 48px;
    color: #f9a5c5;
  }
  
  img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 24px;
    color: #743d6c;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 18px;
    color: #5c5c5c;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  